<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<style>
  body{
  background-image: url('back.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  }
  .container{
  margin-top:35vh;
  color:white;
  }

</style>
</head>
<body>
 <div class="container">
 <h1>Welcome</h1>
 <p>Find your tech equipments at the minimum price possible. </p>
 <p>Get Ready to explore. </p>
 <a class="btn btn-info" th:href="@{/login}">Login</a>
 <a class="btn btn-info" th:href="@{/about}">About</a>
 </div>
</body>
</html>